body{
    background-color: #040404;
    color: grey;
    font-family: arial;
    margin: unset;
    padding-bottom: 2%;
}
.banner{
    background-image: url(images/banner1.svg);
    height: 18em;
    background-position: center;
    background-size: cover;
}
.left-img{
    margin-top: 3em;
    margin-left: 3em;
    width: 12em;
    display: inline-block;
}
.left-banner{
    float: left;
    margin-left: 3em;
    margin-top: 1em;
}
.heading{
    display: inline-block;
}
.main-section{
    margin: auto;
    width: 80%;
}
table{
    text-align: left;
}
th{
    padding: 2em;
    padding-left: 1.2em;
    font-size: large;
}
.song-number{
    width: 20px;
    border: 2px solid grey;
}
.song-title{
    width: 500px;
    border: 2px solid grey;
}
.song-artist{
    width: 250px;
    border: 2px solid grey;
}
.song-duration{
    width: 100px;
    border: 2px solid grey;
}
td{
    padding: 1.2em;
}
tr:hover{
    color: white;
}
.controls img{
    padding-top: 1em;
    width: 3.5em;
}
.highlight{
    color: antiquewhite;
}